<%- include ./partials/header.ejs %>

		<div class="row">
			<div class="col-md-5">
				<h1>Sign Up</h1>
				<%- include ./partials/message.ejs %>
				<form action="/auth/signup" method="POST">
					<div class="mb-3">
						<label class="form-label" for="username">Username</label>
						<input
							type="text"
							name="username"
							class="form-control"
							placeholder="Enter Username"
							value="<%= typeof username != 'undefined' ? username : '' %>"
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="email">Email</label>
						<input
							type="email"
							name="email"
							class="form-control"
							placeholder="youremail@mail.com"
							value="<%= typeof email != 'undefined' ? email : '' %>"
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input
							type="password"
							name="password"
							class="form-control"
							placeholder="Create Password"
							value="<%= typeof password != 'undefined' ? password : '' %>"
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="password2">Confirm Password</label>
						<input
							type="password"
							name="password2"
							class="form-control"
							placeholder="Confirm Password"
							value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
						/>
					</div>
					<div class="d-grid gap-2 mb-3">
						<button class="btn btn-dark" type="submit">Sign Up</button>
					</div>
				</form>
				<p class="text-center">Have An Account? <a href="/auth/login" class="text-decoration-none link-primary">Login</a></p>
			</div>
		</div>

<%- include ./partials/footer.ejs %>
